/* ===============
	BLOCKQUOTE
=============== */

blockquote {
  padding-left: $base-spacing-unit;
  border-left: 3px solid $primary-color;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-style: normal;
  font-size: 18px;
  background-color: rgba(220, 235, 245, 0.2);
  p {
    padding: 10px;
  }
}
