---
layout: default
---
<aside class="c-sidebar">
  <div class="c-sidebar-author">
    <div class="c-author__cover">
      <a href="{{site.baseurl}}/">
        <img src="{{site.baseurl}}/images/{% if site.author-image %}{{site.author-image}}{% endif %}" alt="{{site.author-name}}">
      </a>
    </div>
    <div class="c-author__info">
      <div class="c-author__name">{{site.author-name}}</div>
      <span class="c-author__job">{{site.author-job}}</span>
    </div>
    <div class="c-contact-menu">
      <ul class="c-categories__list u-lists-reset">
      </ul>
    </div>
    <p class="c-author__about">{{site.about-author | strip_html | truncatewords: 50}}</p>
  </div>

  <div class="c-sidebar-footer">
    <div class="c-social">
      <div class="c-social__title">Social</div>
      <ul class="c-social__list u-lists-reset">
        {% if site.social-notion %}
          <li class="c-social__item">
            <a href="{{ site.social-notion }}" target="_blank">
              <img src="{{site.baseurl}}/images/notion.svg" />
            </a>
          </li>
        {% else %}
        {% endif %}
        {% if site.social-github %}
          <li class="c-social__item">
            <a href="https://github.com/{{site.social-github}}" target="_blank">
              <img src="{{site.baseurl}}/images/github.svg" />
            </a>
          </li>
        {% else %}
        {% endif %}
        {% if site.social-linkedin %}
          <li class="c-social__item">
            <a href="https://in.linkedin.com/in/{{site.social-linkedin}}" target="_blank">
              <img src="{{site.baseurl}}/images/linkedin.svg" id="svg-linkin"/>
            </a>
          </li> 
        {% else %}
        {% endif %}
      </ul>
    </div>
    <div class="c-copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author-name}}</p>
    </div>
  </div>
</aside> <!-- /.c-sidebar -->

<main class="c-content">
  {{ content }}
</main> <!-- /.c-content -->